*{
    box-sizing: border-box;
}

h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url("../Images/pattern.jpeg");
    text-align: center;
    margin: 20px 20px;
    border: 5px solid black;
}

h2{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 40px 40px;
    border: 2px solid black;
    padding: 20px;
}

h3{
    text-align: center;
}


.brushes{
    background-color: mediumspringgreen;
}

.frames{
    background-color: lightcoral;
}

p{
    font-family: Helvetica;
    font-weight: bold;
    color: grey;
}

.paint{
    background-color: skyblue;
}

.cost{
    color:blue;
}

footer{
    text-align: center;
    margin: 20px 20px;
    padding: 40px 40px;
}

img{
    position: relative;
    float: center;
}
